<html>
  <head>
    <title>
      Ryan Fisher - Software Engineer, Hobbyist Photographer, Couch Philosopher
    </title>
    <meta content="Ryan Fisher is a software engineer based in San Diego, Ca. He spends most of his time sitting quietly, writing code, and soaking in compliments about his beard." name="description">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    {% include style.html %}
    <link rel="shortcut icon" type="image/x-icon" href="/assets/images/einstein.jpg">
    {% include analytics.html %}
  </head>
  <body>
    <div class="container">
      <nav>
        <ul>
          <li><a href="https://github.com/ryanfisher">github</a></li>
          <li><a href="https://twitter.com/ryan_fisher">twitter</a></li>
          <li><a href="https://photos.ryanfisher.io/profile/ryanfisher">photography</a></li>
        </ul>
      </nav>
      <h1>Ryan Fisher</h1>
      <p class="introduction">Hi, I'm Ryan. I'm a software engineer based in San Diego. Most of my programming time is spent in React and Ruby, but I like to <a href="#projects">build</a> stuff with Elixir and Elm when I can.</p>
      <section id="projects">
        <a name="projects"></a>
        <h2>Projects</h2>

        <h3><a href="https://pantryio.com">PantryIO</a></h3>
        <p>A food tracking and recipe app built with Phoenix/Elixir</p>
        </ul>
      </section>
      <section id="experience">
        <a name="experience"></a>
        <h2>Work</h2>
        <ul>
          <li>Senior Full Stack Engineer at <a href="https://www.stickermule.com">Sticker Mule</a> May 2018 - Present</li>
          <li>Senior Software Engineer at <a href="https://www.gazelle.com">EcoAtm/Gazelle</a> May 2017 - May 2018</li>
          <li>Senior Software Engineer at <a href="https://www.doctible.com">Doctible</a> March 2015 - April 2017</li>
          <li>Senior Software Developer at Furlocity September 2014 - March 2015</li>
          <li>Software Engineer at <a href="https://www.nulu.com">Nulu</a> April 2012 - September 2014</li>
        </ul>
      </section>
    </div>
  </body>
</html>
