<html>
  <head>
    <title>
      Ryan Fisher - Software Engineer, Hobbyist Photographer, Couch Philosopher
    </title>
    <meta content="Ryan Fisher is a software engineer based in San Diego, Ca. He spends most of his time sitting quietly, writing code, and soaking in compliments about his beard." name="description">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <style type="text/css">
    body{font-family:monospace;font-size:14px;line-height:1.5;text-align:center}.container{max-width:780px;margin:0 auto;text-align:left}h1{font-size:30px;font-weight:100}
    </style>
    <link rel="shortcut icon" type="image/x-icon" href="/assets/images/einstein.jpg">
    <script async="" src="https://www.google-analytics.com/analytics.js"></script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-20742253-1', 'auto');
      ga('send', 'pageview');
    </script>
  </head>
  <body>
    <div class="container">
      <h1>Ryan Fisher</h1>
      <h3>Profiles</h3>
      <ul>
        <li>github: <a class="github" href="https://github.com/ryanfisher">@ryanfisher</a>
        </li>
        <li>twitter: <a class="twitter" href="https://twitter.com/ryan_fisher">@ryan_fisher</a></li>
        <li>photography: <a href="https://photos.ryanfisher.io/profile/ryanfisher">@ryanfisher</a></li>
      </ul>
      <h3>Projects</h3>
      <ul>
        <li>
          <a href="https://pantryio.com/">PantryIO</a> - A food tracking and recipe app built with Phoenix/Elixir
        </li>
        <li>
          <a href="https://photos.ryanfisher.io">Ruby on Rails Photo App</a> | <a href="https://github.com/ryanfisher/photo">code</a>
        </li>
        <li>
          <a href="https://github.com/ryanfisher/baseball_stats">Baseball Stats</a> - A ruby gem for comparing baseball statistics and projections
        </li>
      </ul>
      <h3>Work</h3>
      <ul>
        <li>Senior Full Stack Engineer at <a href="https://www.stickermule.com">Sticker Mule</a> May 2018 - Present</li>
        <li>Senior Software Engineer at <a href="https://www.gazelle.com" target="_blank">EcoAtm/Gazelle</a> May 2017 - May 2018
        </li>
        <li>Senior Software Engineer at <a href="https://www.doctible.com" target="_blank">Doctible</a> March 2015 - April 2017
        </li>
        <li>Senior Software Developer at <a href="https://www.furlocity.com" target="_blank">Furlocity</a> September 2014 - March 2015
        </li>
        <li>Software Engineer at <a href="https://www.nulu.com" target="_blank">Nulu</a> April 2012 - September 2014 </li>
      </ul>
    </div>
  </body>
</html>
