<html>
  <head>
    <title>
      Resume - Ryan Fisher
    </title>
    <style>
      .container {
        max-width: 860px;
        margin: 0 auto;

        color: #24292e;
        font-family: Arial, sans-serif;
      }

      h1, h2 {
        border-bottom: 1px solid #eaecef;
        padding-bottom: .3em;
      }

      a:link, a:visited {
        color: #0000EE;
      }
    </style>
    <link rel="shortcut icon" type="image/x-icon" href="/assets/images/einstein.jpg">
    {% include analytics.html %}
  </head>
  <body>
    <div class="container">
      {{ content }}
    </div>
  </body>
</html>
