<html>
  <head>
    <title>
      Resume - Ryan Fisher
    </title>
    <style>
      .container {
        max-width: 860px;
        margin: 0 auto;
      }

      h1, h2 {
        border-bottom: 1px solid #eaecef;
        padding-bottom: .3em;
      }

      h4, h5 {
        margin-top: .5em;
        margin-bottom: 0;
      }

      a:link, a:visited {
        color: #0000EE;
      }

      @media print {
        body {
          font-size: 12px;
        }
      }
    </style>
    {% include style.html %}
    <link rel="shortcut icon" type="image/x-icon" href="/assets/images/einstein.jpg">
    {% include analytics.html %}
  </head>
  <body>
    <div class="container">
      {{ content }}
    </div>
  </body>
</html>
